@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import 'fonts/fonts';

html {
  background-color: #121212;
  height: 100%;
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(0deg 0% 100% / 30%);
}

* {
  scrollbar-color: hsl(0deg 0% 100% / 30%) transparent;
  scrollbar-width: thin;
}

body,
input {
  color: #b3b3b3;
  text-transform: none;
}

a,
button {
  touch-action: manipulation;
  cursor: pointer;
}

button {
  color: #b3b3b3;
}

body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-overflow-style: none;
  scrollbar-width: none;
  min-height: 600px;
  min-width: 800px;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body::-webkit-scrollbar {
  display: none;
} */

/* html,
body {
  scrollbar-gutter: stable;
} */

body,
button,
input,
select,
textarea {
  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva,
    var(--fallback-fonts, sans-serif), sans-serif;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

// ===========================================================//

#root {
  isolation: isolate;
  width: 100%;
  z-index: 0;
}

#root,
.App {
  height: 100%;
  position: relative;
  color: var(--text-base);
  background-color: #000;
  user-select: none;
}

.App {
  transition: none 0.5s cubic-bezier(0.3, 0, 0.4, 1);
  transition-property: background;
}

.contentSpacing {
  margin: 0;
  max-width: var(--content-max-width);
  padding: 0 var(--content-spacing);
}

.hidden-visually {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(
    --font-family,
    CircularSpTitle,
    CircularSpTitle-Tall,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(--fallback-fonts, sans-serif)
  );
}
