:root {
  --left-sidebar-width: 280px;
  --right-sidebar-width: 200px;
  --panel-gap: 8px;
  --sidebar-transition-easing: cubic-bezier(0, 0, 0, 1);
  --sidebar-transition-duration: 0ms;
  --background-noise: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=');
  --rounded-sm: 4px;
  --rounded-md: 8px;
  --rounded-lg: 500px;
  --rounded-full: 50%;
}

.App {
  --content-max-width: 1955px;

  /* --content-spacing: clamp(16px, 16px + (var(--main-content-width) - 600) / 424 * 8px, 24px); */
  --content-spacing: clamp(1rem, 2vw, 1.5rem);
  --modal-z-index: 1000;
  --overlay-z-index: 100;
  --overlay-color: rgba(0 0 0 / 60%);
}
