.ClearButton {
  color: var(--text-subdued, #6a6a6a);
  transition: color 0.2s linear;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  border-radius: 9999px;
  vertical-align: middle;
  min-block-size: 40px;
  padding-block: 6px;
  padding: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus-visible {
    color: var(--text-base);
  }
}

.withIcon {
  padding: 4px 8px;
  gap: 12px;
}
