.LibraryItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px;
  border-radius: var(--rounded-sm);
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: var(--background-highlight);
  }

  &:focus-visible {
    outline: 1px solid var(--outline-color);
  }
}

.image {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-subdued);
  flex-shrink: 0;
}

.fallback {
  background-color: var(--extracted-entity-color, #282828);
  border-radius: var(--rounded-sm);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-width: 0;
}

.nowPlaying {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: end;
  padding: 8px;
  height: 100%;
  color: var(--essential-bright-accent);
}

.libraryItemLink {
  text-decoration: none;
}

.activeLink {
  .LibraryItem {
    background-color: var(--background-tinted-base, rgb(0 0 0 / 8%));
    border-radius: 6px;

    &:hover,
    &:focus-visible {
      background-color: var(--background-tinted-highlight, rgb(0 0 0 / 5%));
    }
  }
}
