.Typography {
  color: var(--text-base);
  font-weight: 400;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(
    --font-family,
    CircularSpTitle,
    CircularSpTitle-Tall,
    CircularSp-Arab,
    CircularSp-Hebr,
    CircularSp-Cyrl,
    CircularSp-Grek,
    CircularSp-Deva,
    var(--fallback-fonts, sans-serif)
  );
}

.h1 {
  font-size: clamp(2rem, 8vw, 6rem);
  font-weight: 900;
}

.h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.h3 {
  font-size: 1rem;
  font-weight: 700;
}

.h4 {
  font-weight: 600;
  font-size: 0.875em;
  line-height: 1.5;
}

.body1 {
  font-size: 1rem;
}

.body2 {
  font-size: 0.875rem;
}

.body3 {
  font-size: 0.875rem;
}

.body4 {
  font-size: 0.6875rem;
}

.normal {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.extraBold {
  font-weight: 900;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.base {
  color: var(--text-base);
}

.subdued {
  color: var(--text-subdued);
}

.bright {
  color: var(--text-bright);
}

.negative {
  color: var(--text-negative);
}

.warning {
  color: var(--text-warning);
}

.positive {
  color: var(--text-positive);
}

.announcement {
  color: var(--text-announcement);
}
