.Section {
  --shelf-min-height: 200px;

  contain-intrinsic-size: auto var(--shelf-min-height);
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 8px;
  max-width: 100%;
  min-height: var(--shelf-min-height);
  min-width: var(--min-container-width);
  width: 100%;
  position: relative;
}
