.MediaCard {
  background: #181818;
  border-radius: var(--rounded-md);
  background-color: var(--media-card-bg);
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  isolation: isolate;
  padding: 16px;
  position: relative;
  transition: background-color 0.3s ease;
  width: 100%;

  &:hover {
    background-color: var(--media-card-bg-highlight);
    cursor: pointer;

    .playBtn {
      opacity: 1;
      pointer-events: auto;
      position: absolute;
      transform: translateY(0);
    }
  }
}

.preview {
  background-color: var(--media-card-bg-highlight, #333);
  border-radius: var(--rounded-sm);
  overflow: hidden;
  box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
  position: relative;
  padding-bottom: 100%;
  width: 100%;

  img,
  & > div {
    object-fit: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.content {
  min-height: 62px;

  .title {
    margin-bottom: 4px;
  }

  .description {
    display: block;
  }
}

.playBtn {
  position: absolute;
  bottom: 8px;
  right: 8px;
  border-radius: 500px;
  box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
  transform: translateY(8px);
  transition: all 0.3s ease;
  pointer-events: none;
  opacity: 0;
  z-index: 2;
}
