.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  height: 64px;
  padding: 16px var(--content-spacing);
  padding-inline-end: var(--content-spacing);

  /* padding: 16px clamp(0.875rem, 2vw, 1.5rem);
  padding-inline-end: clamp(0.875rem, 2vw, 1.5rem); */
  position: relative;
  width: 100%;
  z-index: 10;

  & > * {
    pointer-events: auto;
    white-space: nowrap;
  }
}

.back {
  background-color: var(--background-base);
  opacity: 0.7;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.25s;
  z-index: -1;
}
