.IconButton {
  color: var(--text-subdued, #6a6a6a);
  padding: 8px;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s linear;

  &:disabled {
    opacity: 0.7;
  }

  &:hover {
    color: var(--text-base);

    &.highlight {
      background: var(--background-highlight);
    }
  }
}

.rounded {
  border-radius: 50%;
}

.base {
  background-color: var(--background-base);
}
