.IconButton {
  color: var(--text-subdued, #6a6a6a);
  padding: 8px;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus-visible {
    color: var(--text-base);
  }
}

.highlight {
  &:hover {
    background: var(--background-highlight);
  }

  &:active {
    background: var(--background-press);
  }
}

.bg {
  background: var(--background-press);
}

.rounded-full {
  border-radius: var(--rounded-full);
}

.rounded-square {
  border-radius: 0;
}

.sm {
  padding: 8px;

  .icon {
    width: 16px;
    height: 16px;
  }
}

.md {
  padding: 12px;

  .icon {
    width: 24px;
    height: 24px;
  }
}

.lg {
  padding: 12px;

  .icon {
    width: 32px;
    height: 32px;
  }
}

.hoverScale {
  &:hover {
    transform: scale(1.05);
  }
}
